@import "./util/scss/breakpoints.scss";

body {
  @include clean-slate;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  font-family: 'Work Sans', sans-serif;
}

.pre-loader-wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #preloader {
    width: 60px;
    height: 60px;
    border: #31a9df 3.5px solid;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: rotating 1s linear infinite;
    @keyframes rotating {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
.main {
  display: grid;
  height: 90vh;
  width: 70vw;
  border-radius: 5px;
  margin: 5vh auto;
  grid-template-columns: auto;
  grid-template-rows: .1fr .35fr .35fr .2fr;
  grid-template-areas: 
    "s s s s"
    "t t w w"
    "v v v v"
    "d d d d"
  ;
}
.seatch-box {
  grid-area: s;
  width: 100%;
  align-self: center;
  justify-self: center;
  input {
    width: 100%;
    padding: 15px 15px;
    border-style: none;
    outline: none;
    font-size: 1.3em; 
    border-radius: 5px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
  }
}
.temp-degree {
  grid-area: t;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
  .temperature {
    font-size: 4em;
    display: flex;
    align-items: center;
    color: #fff;
    span {
      font-size: 1em;
    }
  }
}
.description {
  grid-area: w;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
  font-size: 1.8em;
  color: #fff;
  ul {
    list-style-type: none;
    span {
      font-size: .7em;
      color: $dark;
    }
  }
}
.weather-svg {
  grid-area: v;
  display: flex;  
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
}
.dates-wrap{
  grid-area: d;
  position: relative;
  display: inline;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  .days {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .day {
    width: 20%;
    display: inline-block;
    padding: 5px;
    vertical-align:top;
    white-space:nowrap;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    text-align: center;
    span {
      font-size: .8em;
      font-weight: bold;
    }
    .icon {
      padding: 10px 0;
    }
    .the-temp {
      padding: 5px 0;
    }
  }
}
.day:nth-child(even) {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
//breakpoints
@include media-breakpoint-down(lg) {
  .main {
    background-color: green;
  }
}
@include media-breakpoint-down(md) {
  .main {
    background-color: $cyan;
  }

}
@include media-breakpoint-down(sm) {
  .main {
    background-color: $danger;
  }

}

@include media-breakpoint-down(xs) {
  .main {
    background-color: $dark;
  }

}